/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
    
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* Top Players Style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562eef;
    font-size: 24;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.Player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* --------------------
    top blog styles 
--------------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    height: 177px;
    width: 177px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16PX;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}